body {
  font-size: .90em;
  -webkit-print-color-adjust: exact;
  background: none;
}

.container {
  margin: 0;
  padding: 0;
}

blockquote,
#education,
#awards,
.contact-item,
.publication,
.skills,
.interests {
  page-break-inside: avoid;
}

#education {
  margin: 0;
  margin-bottom: -20px;
}
#awards:before,
#education:before {
}

#awards .description,
#education .description,
.job .details {
}
.publication,
.publication .panel-heading,
.publication .name{
  margin: 0;
  padding: 0 5px;
}
.publication .panel-body {
  padding: 0 10px;
  margin: 0;
}

.badge {
  margin: 0;
}

.list-group-item{
  margin: 0;
  padding: 5px 15px;
}
.list-group-item:after{
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  left: -1px;
  height: 0;
  width: 0;
  pointer-events: none;
 }

.list-group-item {
border-color: rgba(0, 0, 0, 0.250);
}
