<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume of {{basics.name}}</title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" media="all">
    <style type="text/css" media="all">
    {{{css}}}
    </style>
    <style type="text/css" media="print">
    {{{printcss}}}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="d-flex gap">
        <div>
          {{#basics.summary}}
          <!-- ABOUT ME -->
          <div class="box">
            <h2><i class="fas fa-user ico"></i> About</h2>
            <div id="text-header">
              <h3>{{basics.name}}<br>{{#basics.label}}<span>{{basics.label}}</span>{{/basics.label}}</h3>
            </div>
            <p>{{{basics.summary}}}</p>
          </div>
          {{/basics.summary}}
        </div>

        <div>
          <!-- CONTACT -->
          <div class="box clearfix d-flex flex-column">
            <h2><i class="fas fa-bullseye ico"></i> Contact</h2>
            {{#basics.location}}
            <div class="contact-item gap d-flex">
              <div class="icon float-start text-center"><span class="fas fa-map-marker fa-fw"></span></div>
              {{#basics.location.address}}<div class="title float-end">{{basics.location.address}}</div>{{/basics.location.address}}
              <div class="title {{^basics.location.address}}only {{/basics.location.address}} float-end">{{basics.location.city}}{{#basics.location.region}}, {{basics.location.region}}{{/basics.location.region}}{{#basics.location.postalCode}} {{basics.location.postalCode}}{{/basics.location.postalCode}}{{#basics.location.countryCode}} {{basics.location.countryCode}}{{/basics.location.countryCode}}</div>
            </div>
            {{/basics.location}}
            {{#basics.phone}}
            <div class="contact-item gap d-flex">
              <div class="icon float-start text-center"><span class="fas fa-phone fa-fw"></span></div>
              <div class="title only float-end">{{basics.phone}}</div>
            </div>
            {{/basics.phone}}
            {{#basics.email}}
            <div class="contact-item gap d-flex">
              <div class="icon float-start text-center"><span class="fas fa-envelope fa-fw"></span></div>
              <div class="title only float-end"><a href="mailto:{{basics.email}}" target="_blank">{{basics.email}}</a></div>
            </div>
            {{/basics.email}}
            {{#basics.url}}
            <div class="contact-item gap d-flex">
              <div class="icon float-start text-center"><span class="fas fa-globe fa-fw"></span></div>
              <div class="title only float-end"><a href="{{basics.url}}" target="_blank">{{basics.url}}</a></div>
            </div>
            {{/basics.url}}
            {{#basics.profiles}}
            <div class="contact-item gap d-flex">
              <div class="icon float-start text-center"><span class="{{iconClass}} fa-fw"></span></div>
              <div class="d-flex flex-column">
                <div class="title float-end">{{network}}</div>
                <div class="description float-end"><a href="{{url}}" target="_blank">{{#username}}{{username}}{{/username}}{{^username}}{{url}}{{/username}}</a></div>
              </div>
            </div>
            {{/basics.profiles}}
          </div>
        </div>

      </div>
      <div class="d-flex flex-column section">
        {{#workBool}}
        <!-- WORK EXPERIENCE -->
        <div class="box">
          <h2><i class= "fas fa-suitcase ico"></i> Work Experience</h2>
          {{#work}}
            <div class="job d-flex flex-column clearfix">
              <div>
                <div class="details">
                  <div class="where">
                    {{name}}
                    {{#location}}
                    <div class="float-end">
                      {{location}}
                    </div>
                    {{/location}}
                  </div>
                  {{#description}}
                  <div class="description">
                    {{description}}
                  </div>
                  {{/description}}
                  {{#url}}
                  <div class="address">
                    <a href="{{url}}" target= "_blank"><i class="fas fa-globe ico"></i> {{url}}</a>
                  </div>
                  {{/url}}
                  <div class="year">{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}</div>
                </div>
              </div>
              <div>
                <div class="job-details col-xs-11">
                  <div class="profession">{{position}}</div>
                  <div class="description">
                    {{{summary}}}
                    {{#boolHighlights}}
                    <div class="highlights">Highlights</div>
                    <ul class="list-group">
                      {{#highlights}}
                      <li class="list-group-item">{{{.}}}</li>
                      {{/highlights}}
                    </ul>
                    {{/boolHighlights}}
                  </div>
                </div>
              </div>
            </div>
          {{/work}}
        </div>
        {{/workBool}}
        <div class="col-xs-12 section">
          {{#skillsBool}}
          <!-- SKILLS -->
          <div class="box">
            <h2><i class="fas fa-tasks ico"></i> Skills</h2>
            <div class="skills">
            {{#skills}}
              <div class="clearfix">
                <div class="item-skills">
                    {{name}}
                    {{#level}}<span class="skill-level">{{level}}</span>{{/level}}
                </div>
                <div class="d-flex flex-wrap gap clearfix">
                  {{#keywords}}
                  <span class= "skill badge">{{{.}}}</span>
                  {{/keywords}}
                </div>
              </div>
            {{/skills}}
            </div>
          </div>
          {{/skillsBool}}
          {{#certificatesBool}}
          <!-- HOBBIES -->
          <div class="box section">
            <h2><i class="fas fa-certificate ico"></i> Certificates</h2>
            {{#certificates}}
            <div class="certificates clearfix d-flex flex-column">
              <div class="item-certificates">
                  <i class= "fas fa-cloud ico"></i> {{issuer}}
              </div>
              <div class="certificate-name">
                <a href="{{url}}" target= "_blank"> {{name}}</a>
              </div>
            </div>
            {{/certificates}}
          </div>
          {{/certificatesBool}}
        </div>
      </div>
    </div>

  </body>
</html>
